{
  "Fallout3Root": "~/.steam/steam/steamapps/common/Fallout 3 goty",
  "FalloutNVRoot": "~/.steam/steam/steamapps/common/Fallout New Vegas",
  "MpiPackagePath": "~/Downloads/TaleOfTwoWastelands-v3.3.2",
  "DestinationPath": "~/TTW"
}
